<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techlads.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KidsActivity"></activity>
        <activity android:name=".ui.VideoSongsActivity" />
        <activity android:name=".ui.PlayerActivity" />
        <activity android:name=".ui.AudioSongsActivity" />
        <activity
            android:name=".ui.TalkShowsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.IslamicActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MoviesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.InitialSetupActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>